.testimonial {
  width: 100%;
  height: 100%;
  background-color: #e5e4e2;
  padding: 10px 10%;
  padding-bottom: 100px;
}

.testimonial .container {
  width: 100%;
  padding: 0;
}

.testimonial .container h1 {
  font-size: 72px;
  font-weight: 700;
  line-height: 82px;
  text-align: center;
  margin-bottom: 25px;
}

.testimonial .container .p-small-screen {
  display: none;
}

.testimonial .container p {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-bottom: 50px;
}

.section-center {
  position: relative;
  margin: 0 auto;
  margin-top: 4rem;
  width: 80vw;
  height: 450px;
  max-width: 800px;
  text-align: center;
  text-align: start;
  display: flex;
  overflow: hidden;
}

article {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  display: flex;
  gap: 50px;
  justify-content: space-between;
  align-items: center;
  padding: 50px 70px;
  border-radius: 20px;
  background-color: #204e51;
  transition: all 0.3s linear;
}

article.activeSlide {
  opacity: 1;
  transform: translate(0);
}
article.lastSlide {
  transform: translate(-100);
}
article.nextSlide {
  transform: translate(100%);
}

.person-img {
  width: 100%;
  height: 231px;
  border-radius: 20px;
}

.testimonial .container .card-right span {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 10px;
}

.testimonial .container .card .card-right {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.testimonial .container .card-right .star-rating .star {
  color: #ffbe40;
  margin: 5px;
}

.testimonial .container .card-right h3 {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 20px;
}

.testimonial .container .card-right span {
  color: #fff;
  font-size: 13px;
  font-weight: 300;
  line-height: 24px;
}

.testimonial .container .card-right h2 {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

.icon {
  font-size: 100px;
  color: #204e51;
}

.prev,
.next {
  position: absolute;
  top: 160px;
  transform: translate(-50%);
  background-color: transparent;
  color: #fff;
  width: 1.25rem;
  height: 1.25rem;
  display: grid;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 0.3s linear;
}
.prev:hover,
.next:hover {
  color: #204e51;
  background: #fff;
}

.prev {
  left: 20px;
}

.next {
  right: 0;
}

/*---------------css for small screens---------------*/

@media (max-width: 1185px) {
  .testimonial .container .p-small-screen {
    display: block;
  }
  .testimonial .container p {
    display: none;
  }
}

@media (max-width: 1035px) {
  .testimonial .container .card-right h3 {
    font-size: 25px;
    line-height: 20px;
  }
}

@media (max-width: 960px) {
  .testimonial .container .card-right h3 {
    font-size: 20px;
    line-height: 18px;
  }

  .testimonial .container .p-small-screen {
    font-size: 18px;
  }
}

@media (max-width: 900px) {
  .testimonial .container article {
    width: 100%;
    display: block;
    text-align: center;
  }

  .testimonial .container .person-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  article {
    padding: 30px 70px;
  }
  .prev,
  .next {
    top: 180px;
  }
  .testimonial .container h1 {
    font-size: 55px;
  }
}

@media (max-width: 700px) {
  .prev,
  .next {
    top: 200px;
  }
}

@media (max-width: 450px) {
  .testimonial .container h1 {
    font-size: 40px;
  }
  .testimonial .container .card-right h2 {
    font-size: 10px;
    line-height: 20px;
  }
  .testimonial .container .card-right h3 {
    font-size: 15px;
    line-height: 15px;
    margin-bottom: 5px;
  }

  .testimonial .container .card-right span {
    margin-bottom: 5px;
  }

  .testimonial .container .card-right .star-rating .star {
    width: 17px;
    margin: 3px;
  }

  .testimonial .container .p-small-screen {
    font-size: 15px;
  }
}

@media (max-width: 401px) {
  .testimonial .container .card-right span {
    font-size: 8px;
    margin-bottom: 5px;
  }
}

@media (max-width: 430px) {
  .testimonial .container h1 {
    font-size: 40px;
  }
  .testimonial .container .card-right .star-rating .star {
    width: 15px;
    margin: 3px;
  }
  .testimonial .container .card-right h3 {
    font-size: 15px;
    line-height: 15px;
    margin-bottom: 5px;
  }
  .testimonial .container .card-right span {
    margin-bottom: 5px;
  }
}

@media (max-width: 376px) {
  .testimonial .container h1 {
    font-size: 40px;
  }
  .testimonial .container .card-right .star-rating .star {
    width: 15px;
    margin: 3px;
  }
  .testimonial .container .card-right h3 {
    font-size: 10px;
    line-height: 15px;
    margin-bottom: 5px;
  }
  .testimonial .container .card-right h2 {
    font-size: 10px;
    line-height: 20px;
  }
  .testimonial .container .card-right span {
    font-size: 10px;
    line-height: 20px;
    margin-bottom: 5px;
  }
}

@media (max-width: 350px) {
  .testimonial .container article {
    padding: 20px 20px;
  }
  .testimonial .container h1 {
    font-size: 30px;
  }
}
